@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(34, 12, 8, 1) 0%, rgba(0, 212, 255, 1) 100%);

}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    background: #196f72;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
}

.title {
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(34, 12, 8, 1) 0%, rgb(3, 203, 243) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    width: 100%;
    padding: 13px;
    border-radius: 4px;
    border: none;
    outline-color: #11aaaf;
}

input:focus {
    color: #11aaaf
}

.form-container {
    flex: 3;
}

.right-form,
.left-form {
    flex: 1;
}

.left-form {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
    background: url('../images/banner.jpg');
    background-size: cover;
    background-position: 95% 10%;
    border-radius: 10px 0 0 10px;
}

.right-form {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background: #0dbbb8;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

header {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.line {
    width: 200px;
    height: 1px;
    background: #44d6db;
}

span {
    width: 10px;
    height: 10px;
    background: #26d5db;
    padding: 10px;
    border-radius: 40px;
}

button {
    padding: 10px;
    border: none;
    background: #11aaaf;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.form-group {
    padding: 10px;
}

::placeholder,
button {
    font-family: "hanuman" serif;
}

.form-header {
    text-align: center;
}

.logo {
    border-radius: 30px;
    width: 20%;
}

.robot {
    width: 80%;
}